<h1> New Trader</h1>
<%= form_tag '/traders', method: 'post' do %>
  <input type="text" name="firstname" />
  <input type="text" name="lastname" />
  <input type="submit" value="Add new trader" />
<% end %>
